<h4>
  <p id="first_para_no_search_result" class="parag_no_search_result">

    <% if @no_search_results == false %>
      <%= t( ".firm_not_listed_header_html", search_string: params[:search], default: "\"#{params[:search]}\" is not in our list?") %>
    <% else %>
      <%= t( ".no_search_result_header_html", search_string: params[:search], default: "No firm with a name containing \"#{params[:search]}\" is currently ranked in our database.") %>
    <% end %>

  </p>

  <p id="second_para_no_search_result" class="parag_no_search_result">

    <%= t(".firm_not_listed_please_add_firm", search_string: params[:search], default: "Do you want that \"#{params[:search]}\" be added to our rankings? Request it!")%>

  </p>
</h4>

<%= simple_form_for(@firm_creation_request, remote: true) do | form | %>
  <%= form.input :name,
                input_html: {
                  value: params[:search]
                },
                label: t( ".firm_name_label", default: "Please confirm the name of the firm you would like us to add to our rankings.")
   %>
  <%= form.input :country_of_firm,
                input_html: {
                  value: request.location.country
                },
                label: t( ".firm_name_label", default: "Help us by providing the name of the country where this firm is located (optional).")
   %>
  <%= form.input :city_of_firm,
                input_html: {
                  value: request.location.city
                },
                label: t( ".firm_name_label", default: "Help us by providing the name of the city where this firm is located (optional).")
   %>
  <% unless user_signed_in? %>
    <%= form.input :email,
                  input_html: {
                    value: user_signed_in? ? @user.email : nil,
                    placeholder: user_signed_in? ? @user.email : nil },
                  label: t( ".user_email_label", default: "If you leave us your email, we will kindly inform you as soon as '#{params[:search]}' will be added to our rankings (optional).")
     %>
  <% end %>
  <%= form.button :submit, t(".request_button", default: "Request"), class: "btn btn-default btn-green-bg red-hover-btn btn-lg btn-block main-call-to-action-btn", id: "btnToAddFirm" %>
<% end %>
