<% content_for(:title, "Vote for #{@firm.name}") %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h3 class="text-center">How is gender equality doing at <%= "#{@firm.name}"%>?</h3>
        <div class="card-block shadowed-box">
        <%= simple_form_for @review do |r| %>
          <% @tests.each do |test| %>
            <%= simple_fields_for :answer do |a| %>
              <%= a.input :user_rating, label: "#{test.test_long_question}", wrapper_html: { class: "text-center my-rating-wrapper" }, input_html: { name: "user_rating[#{test.id}]", id: "user_rating[#{test.id}]", type: "hidden", class: "rating", "data-filled" => "fa fa-star fa-2x", "data-empty" => "fa fa-star-o fa-2x" } %>
            <% end %>
          <% end %>
          <!-- TO DO: Not very satisfactory way to select set the id of the firm; to be reviewed with a coach -->
          <%= r.input :firm_id, as: :hidden, input_html: { value: "#{@firm.id}" } %>
          <%= r.button :submit, "Vote", class: "btn-center" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
