<% content_for(:title, "Searching for #{params[:search]}") %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="company-container">

        <!-- Search Form -->
        <div class="row">
          <div div="class-xs-12">
            <%= render "shared/search_form" %>
          </div>
        </div>
        <!-- If the user has searched something -->
        <h1>
          <% if params[:search] %>
            <%= "Search results for \"#{params[:search]}\"" %>
          <% end %>
        </h1>
        <!-- If the search has not given any result -->
        <% if @no_search_results == true %>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-wrapper card-block shadowed-box text-center">
              <h4>
                <%= "No firm with a name containing \"#{params[:search]}\" is currently ranked in our database." %>
                <br><br>
                <!-- TO DO: Replace br with nice css -->
                <%= link_to("Please add \"#{params[:search]}\" to our rankings!", "#", class: "btn btn-default btn-lg add-me-after-search red-hover-btn main-call-to-action-btn", role: "button") %>
              </h4>
            </div>
          </div>
        </div>
        <% end %>
        <!-- if the search has not given any results or if the user has not searched anything -->
        <% if (@no_search_results == true || params[:search].nil? ) %>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-wrapper card-block shadowed-box text-center">
              <p>
                <%= "Here are the top 10 firms ranked by our community in #{@user_ip_country}" %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        <!-- listing of all firms or search result -->
        <div class="row">
          <div class="col-xs-12">
            <div id="competitorsCommunityRankings" class="text-wrapper card-block shadowed-box">
                <table class="table table-striped table-responsive">
                <% @firms.each do | firm | %>
                  <tr>
                    <td>
                      <%= link_to(firm_path(firm)) do %>
                        <%= image_tag(firm.icon_name, class: "company-index-icon") %>
                      <% end %>
                    </td>
                    <td class="hidden-xs">
                      <%= link_to firm.name, firm_path(firm) %>
                    </td>
                    <td>
                      <span class="badge"><%= "#{firm.avg_rating.round(1)}" %></span>
                    </td>
                  </tr>
                <% end %>
                </table>
            </div>
          </div>
        </div>
      </div>
    <!-- if the search by name has returned something, display top 10 competitors
    ordered by ranking -->
    <% if (params[:search] && @no_search_results == false ) %>
      <%= render "competitors_community_rankings", selected_firm: @firms.first, competitors: @competitors %>
    <% end %>
  </div>
</div>

<% if session[:first_hit] == true %>
  <%= render "shared/geo_search_form" %>
  <% content_for(:after_js) do %>
    <%= render "firms/geolocator_js" %>
  <% end %>
<% end %>
