<% content_for(:title,  params[:search] ? t(".page_title_search", search_string: params[:search], default: "Searching for #{params[:search]}") : raw( t(".page_title_no_search", default: "Look up a firm's ranking" ) ) ) %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="company-container">

        <!-- Search Form -->
        <div class="row">
          <div class="col-xs-12">
            <%= render "shared/search_form" %>
          </div>
        </div>
        <!-- If the user has searched something: title line indicating what was searched for -->
        <% if params[:search] %>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <h1>
                    <%= t('.search_result_header_html', search_string: params[:search], default: "Search results for '#{params[:search]}'") %>
                </h1>
              </div>
            </div>
          </div>
        <% end %>
        <!-- If the search has not given any result: box informing of no search results and form to add the firm -->
        <% if @no_search_results == true %>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-wrapper card-block shadowed-box text-center">
                <%= render "firms/firm_not_found" %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- if the search has not given any results or if the user has not searched anything: give the classical header (Gender equality on the work place) and the ranking of the 10 top firms in country -->
        <% if (@no_search_results == true || params[:search].nil? ) %>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-wrapper card-block shadowed-box text-center">
                <h1><%= t(:gender_equality_on_the_workplace, default: "Gender equality on the workplace") %></h1>
                <p>
                  <%= t('.top_10_in_country', user_ip_country: @user_ip_country, default: "Here are the top 10 firms ranked by our community in #{@user_ip_country}") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <%# listing of the top 10 firms for the country of the user
        (in case no search has been made or the search has not returned any results,
        @firms is the top 10 firms for the country of the user)
        OR
        of the companies matching the search result
        (in case a search has been made and the research has returned something) %>
        <div class="row">
          <div class="col-xs-12">
            <div id="competitorsCommunityRankings" class="text-wrapper card-block shadowed-box">
              <%= render "competitors_community_rankings_table", competitors: @firms %>
              <hr>
              <%= render "firms/firm_not_found" if @no_search_results == false %>
            </div>
          </div>
        </div>
      </div>
      <%# if the search by name has returned something, display top 10 competitors
      ordered by ranking below the search results %>
      <% if (params[:search] && @no_search_results == false ) %>
        <%= render "competitors_community_rankings", selected_firm: @firms.first, competitors: @competitors %>
      <% end %>
    </div>
  </div>
</div>

<% if session[:first_hit] == true %>
  <%= render "shared/geo_search_form" %>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      window.load = getLocationAndRedirect();
    <% end %>
  <% end %>
<% end %>
