<% content_for(:title,  t(".title_for_how_it_works", default: "How does it work?") ) %>

<div id="howItWorks">
  <div id="mainLandingMotto" class="fluid-container text-center section bg-img-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hiw-division hiw-top-division">
          <div class="vertically-aligned-content-block motto-container-block">
            <%#= image_tag "logo-skanher.png", class: "vertical-align-inline-block", id: "mainLogoHiw" %>
            <%#<span class="brand-text vertical-align-inline-block">
              <span class='brandtext-first-part'>skan</span><span class='brandtext-second-part'>her</span>
            </span>%>
            <div class="motto-line main-text-line"><%= t(".main_motto", default: "Digital democracy for actual equality") %></div>
            <div class="motto-line main-text-line sub-motto"><%= t(".main_sub_motto", default: "Empowering people") %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="scrolling-arrow-container">
          <a href="#peopleMotivationSection">
            <i class="fa fa-angle-down fa-4x pulse scroll-arrow white-scrolling-arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="peopleMotivationSection" class="fluid-container text-center section bg-img-container motivation-section">
    <div class="row">
      <div class="col-xs-12">
        <div class="hiw-division">
          <div class="vertically-aligned-content-block motto-container-block">
            <div class="main-text-line">
              <%= t(".motivation_employees", default: "People, take the power: vote for a firm!") %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="scrolling-arrow-container">
          <a href="#firmMotivationSection">
            <i class="fa fa-angle-down fa-4x pulse scroll-arrow white-scrolling-arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="firmMotivationSection" class="fluid-container text-center section bg-img-container motivation-section">
    <div class="row">
      <div class="col-xs-12">
        <div class="hiw-division">
          <div class="vertically-aligned-content-block motto-container-block">
            <div class="main-text-line">
              <%= t(".motivation_employers", default: "Employers, are you ready to stand up the disruption and get a free reputation-premium?") %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="scrolling-arrow-container">
          <a href="#currentFeatures">
            <i class="fa fa-angle-down fa-4x pulse scroll-arrow white-scrolling-arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="currentFeatures" class="fluid-container text-center section">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="voteIcon" class="icon"></div>
          <h3><%= t(".vote_and_comment_title", default: "Vote and Comment" )%></h3>
          <ul>
            <li><%= t(".pick_a_firm", default: "Pick a firm.") %></li>
            <li><%= t(".post_a_comment", default: "Post a comment.")%></li>
            <li><%= t(".vote_on_our_criteria", default: "Vote on our criteria.")%></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="anonymousIcon" class="icon"></div>
          <h3><%= t(".remain_anonymous", default: "Remain Anonymous" )%></h3>
          <ul>
            <li><%= t(".pseudonym_wrapping", default: "Pseudonym wrapping of all publication.") %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-block shadowed-box">
          <div id="rankingsIcon" class="icon"></div>
          <h3><%= t(".access_information", default: "Access Information") %></h3>
          <ul>
            <li><%= t(".consult_firm_ratings", default: "Consult firm ratings based on users' votes.") %></li>
            <li><%= t(".get_firms_rankings", default: "Get firms rankings by industry and by country.")%></li>
            <li><%= t(".critical_data_for_job_applic", default: "Access critical data for job applicants.")%></li>
            <li><%= t(".critical_data_for_engaged_consumer", default: "Access critical data for engaged consumers.")%></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main call to action -->
    <div class="row">
      <div class="col-xs-12">
        <div id="mainCallToActionWrapper">
          <%= link_to t(:top_call_to_action, default: "Rate a firm"), firms_path, class: "btn btn-default red-hover-btn btn-on-a-clear-bg" %>
        </div>
      </div>
    </div>
    <!-- Scroll arrow -->
    <div class="row">
      <div class="col-xs-12">
        <div id="scrollArrowWrapper">
          <a href="#futureFeatures">
            <i class="fa fa-angle-down fa-4x pulse scroll-arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- END OF FIRST SECTION -->
  <!-- BEGINNING OF SECOND SECTION -->

  <div id="futureFeatures" class="fluid-container text-center section">
    <div class="row">
      <div class="col-xs-12">
        <h1>Future Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="feelingRepositoryIcon" class="icon"></div>
          <h3>Feelings Repository</h3>
          <ul>
            <li>Vote again at any time, depending on your mood.</li>
            <li>Pass additional tests, to better identify your issues.</li>
            <li>Access your past reviews, tests and ratings, to follow up on your situation.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="advicesIcon" class="icon"></div>
          <h3>Advices</h3>
          <ul>
            <li>Expose your situation in our private forums.</li>
            <li>Receive free advices from other community members.</li>
            <li>Share your advices to other community members.</li>
            <li>Get in touch with one of our partners (lawyers, work psychologists, coaches).</li>
            <li>Provide more data on yourself and get a discount.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="employersAdvisoryIcon" class="icon"></div>
          <h3>Employers' Advisory Services</h3>
          <ul>
            <li>Improve gender equality and parity in your firm.</li>
            <li>Make an audit.</li>
            <li>Receive training.</li>
            <li>Get a reputation badge beside your ranking for your commitment to improvment.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-block shadowed-box">
          <div id="adrIcon" class="icon"></div>
          <h3>Alternative Dispute Resolution</h3>
          <ul>
            <li>Reduce cost and time uncertainties related to legal actions.</li>
            <li>Access our alternative dispute resolution platform.</li>
            <li>Get a reputation badge beside your ranking for accepting our alternative dispute resolution.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  if (viewport().width > 768) {
    $('#howItWorks .section').each(function(){
      setBoxHeight($(this).attr("id"));
    });
//    <!-- window.load = setBoxHeight("#currentFeatures"); -->
//    <!-- window.load = setBoxHeight("#futureFeatures"); -->
  }
  <% end %>
<% end %>