<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            <%= link_to '/', html_options = { class: "social-icons" } do %>
              <i class="fa fa-facebook pulse"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '/', html_options = { class: "social-icons" } do %>
              <i class="fa fa-twitter pulse"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '/', html_options = { class: "social-icons" } do %>
              <i class="fa fa-linkedin pulse"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 text-right">
        <p><%=t :footer_line_beginning %><%= link_to("The Choice! LLP", "#", html_options = { class: "clear" }) %></p>
      </div>
    </div>
  </div>
</div>