<% require 'devise/version' %>
<% content_for(:title, "Account email confirmation") %>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <div class="main-title-block">
          <h1 class="main-title"><%= t('.subject', :subject => "Account email confirmation instruction") %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="card-block shadowed-box text-center">
      <p><%= t('.greeting', :recipient => @resource.email, :default => "Welcome #{@resource.email}!") %></p>

      <% if @firm %>
        <p><%= t('.thank_you_for_your_review', :firm_name => @firm.name, :default => "And thank you for your review of #{@firm.name}!") %></p>
        <p><%= t('.instruction_if_first_review', :firm_name => @firm.name, :default => "In order to validate your review of #{@firm.name}, you must confirm your account email through the link below:") %></p>
      <% elsif @requested_firm %>
        <p><%= t('.thank_you_for_your_firm_creation_request', :firm_name => @requested_firm.name, :default => "And thank you for your request for creation of a file on Skanher for #{@requested_firm.name}!") %></p>
        <p><%= t('.instruction_if_firm_creation_request', :firm_name => @requested_firm.name, :default => "In order to keep you informed of the creation a file for #{@requested_firm.name}, please confirm your account email through the link below:") %></p>
      <% else %>
        <p><%= t('.instruction', :default => "You can confirm your account email through the link below:") %></p>
      <% end %>

      <p><%= link_to t('.action', :default => "Confirm my account"), confirmation_url(@resource, :confirmation_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %></p></p>
      </div>
    </div>
  </div>
</div>

