<% require 'devise/version' %>
<% content_for(:title, "Reset password") %>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <div class="main-title-block">
          <h1 class="main-title">Reset password</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="card-block shadowed-box text-center">
        <p><%= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!") %></p>
        <p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>
        <p><%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.reset_password_token)) %></p>
        <p><%= t('.instruction_2', :default => "If you didn't request this, please ignore this email.") %></p>
        <p><%= t('.instruction_3', :default => "Your password won't change until you access the link above and create a new one.") %></p>
      </div>
    </div>
  </div>
</div>
