<% require 'devise/version' %>
<% content_for(:title, t('.action', :default => "Unlock my account")) %>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <div class="main-title-block">
          <h1 class="main-title">Unlock your account</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="card-block shadowed-box text-center">
      <p><%= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!") %></p>
      <p><%= t('.message', :default => "Your account has been locked due to an excessive amount of unsuccessful sign in attempts.") %></p>
      <p><%= t('.instruction', :default => "Click the link below to unlock your account:") %></p>
      <p><%= link_to t('.action', :default => "Unlock my account"), unlock_url(@resource, :unlock_token => (Devise::VERSION.start_with?('3.') ? @token :@resource.unlock_token)) %></p>
      <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
      </div>
    </div>
  </div>
</div>
