<h3 class="text-center"><%= t(".title", default: "Here are your votes pending validation for ") %><%= "#{@firm.name}" %>.</h3>
<p><%= t(".header_instruction", default: "Please review them carefully and update them, as the case may be.") %></p>
<% if @review.contains_sensitive_answers[:sensitive] %>
  <p class="review-warning"><%= "Beware! You have granted #{@review.contains_sensitive_answers[:count]} very bad #{"ranking".pluralize(@review.contains_sensitive_answers[:count])} to #{@firm.name}!" %></p>
  <p class="review-warning"><%= "At Skanher, we consider this kind of reviews as a serious case, both for you and for #{@firm.name}!" %></p>
  <p class="review-warning"><%= "Please read carefully our terms of service before validating your answers." %></p>
<% end %>
<p>
  <%= t(".press_button_instruction", default: "Once your are done, press the Validate button below.") %>
</p>
<hr>

<%= simple_form_for @review do |r| %>
  <%= render "reviews/review_form_master_content_validate", r: r %>
  <%= r.button :submit, "Validate", class: "btn-center" %>
<% end %>
