<table class="table table-striped table-responsive table-individual-review">
  <tr>
    <td>
      <%= t("by", default: "By ") %><span class="username"><%= "#{Faker::Name.name}" %></span>
      <%= t("pseudonym", default: ' pseudonym') %>
      <%= t("for_firm", default: " for ") %>
      <%= link_to(content_tag(:span, "#{firmname}", class: "firmname"), firm_path(firmid)) %>, <%= l(review.updated_at, format: :short) %>
    </td>
  </tr>
  <% unless review.title.blank? && review.comment.blank? %>
    <tr>
      <td>
        <div class="comment-title"><%= review.title %></div>
        <div class="comment-body"><%= review.comment %></div>
      </td>
    </tr>
  <% end %>
  <% review.answers.reverse.each do | answer | %>
    <tr>
      <td>
        <div class="indiv-review-answers-wrapper">
          <div class="indiv-review-test-question"><%= t( :short_question, scope: [:tests_questions, :"question_#{answer.test_id}"], default: answer.test.test_question ) %></div>
          <div class="indiv-review-user-rating-icon <%= displayed_reviews_css_array[answer.user_rating - 1] %>"><%= answer.user_rating %></div>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
