<% @tests.each do |test| %>
  <%= simple_fields_for :answer do |a| %>
    <% user_rating_option_hash = {} %>
    <% test.select_options.split(";").each_with_index do |answer, i| %>
      <% user_rating_option_hash[answer] = i %>
    <% end %>
    <%= a.input :user_rating,
        # collection: (test.select_options.split(";")),
        # myhash = { 1 => "blabla", 2 => "bloblo"}
        collection: (user_rating_option_hash),
        label: "#{test.test_long_question}",
        wrapper_html: {
          class: "text-center my-rating-wrapper"
        },
        input_html: {
          name: "user_rating[#{test.id}]",
          id: "user_rating[#{test.id}]",
          class: "rating-input",
          "data-icon" => "rating-icon[#{test.id}]"
      } %>
  <% end %>
<hr/>
<% end %>
<p id="legalWarning"></p>
<%= r.input :confirmed_t_and_c, label: "I hereby confirm that I have read and agreed to the conditions of rating services of Sunny Rankings.", id: "confirmed_t_and_c" %>
<hr/>
<%= r.input :temporary_email, label: "Please enter your email" %>
<%= r.button :submit, "Vote", class: "btn-center", id: "voteButton" %>

<!-- TODO: Complete with relevant JS CODE to:
- hide the legal warnings;
- hide the inputs;
- display the rating icon;
- set the value of the input onclick on an icon. -->
<% content_for(:after_js) do %>
    <%= render 'reviews/review_form_js' %>
  <%#= javascript_include_tag 'review_form' %>
<% end %>

<style>
  .grey-background-icon {
    background-color: grey;
  }
  .red-background-icon {
    background-color: red;
  }
  .green-background-icon {
    background-color: green;
  }
  .yellow-background-icon {
    background-color: yellow;
  }
  .rating-icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    margin: 10px 3px 0px 3px;
    border-radius: 50%;
    opacity: 0.5;
  }
  .mad {
    background-image: url(/assets/mad.svg);
  }
  .bad {
    background-image: url(/assets/bad.svg);
  }
  .happy {
    background-image: url(/assets/happy.svg);
  }
  .veryhappy {
    background-image: url(/assets/veryhappy.svg);
  }
  .fine {
    background-image: url(/assets/fine.svg);
  }
</style>
