<h3 class="text-center">How is gender equality doing at <%= "#{@firm.name}?" %></h3>
<hr/>
<%= simple_form_for [@firm, @review] do |r| %>
  <%= render "reviews/review_form_master_content", r: r %>
  <%= render "reviews/review_form_legal_warning", r: r %>
  <%= render "reviews/review_form_accept_t_and_c", r: r %>
  <%= render "reviews/review_form_email_and_voting_button", r: r %>
<% end %>
