<% content_for(:title, "Your Vote") %>

<!-- This is the first view that is shown after a vote -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">
            <h1 class="text-center">Thank you for your vote!</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">
            <h3 class="text-center">A temporary account has been created for you.</h3>
            <h3><small>Your are currently logged in as <%= "#{@user.email}" %></small></h3>
            <h3><small>To validate your vote, please provide your email in the field below.</small></h3>
            <p>If you already have an account, you will be required to login.</p>
            <p>If you are a first time user, you will be required to create a full profile.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">
            <table class="table table-striped table-responsive">
              <tr>
                <td>
                  Your username:
                </td>
                <td id="fakeUsername">
                  <%= "#{@user.email}" %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">
            <%= simple_form_for(@user, url: reconcile_path, html: { method: :get }) do |f| %>
              <%= f.input :real_email, label: "Please provide your real email." %>
              <%= f.button :submit, 'Send' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">
            <%= render "edit_review" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


