<%# Very similar to the reviews/index/user_pending_review partial %>
<% content_for(:title,  t(".page_title", default: "Your Pending Review") ) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">

            <h3 class="text-center"><%= t( ".heading_sentence", default: "Here is your latest pending review for ") + "#{@firm.name}" %>.</h3>
            <% default_for_instructions_html =
            "<p>Please review your votes carefully and update them, as the case may be.</p>
            <p>Once your are done, press the Validate button below.</p>"
            %>
            <%= t( ".instructions_html", default: default_for_instructions_html) %>
            <hr>

            <%# forms group %>

            <%# validate form %>
            <%= simple_form_for @review do |r| %>
              <%= r.error_notification %>
              <%= render "reviews/review_form_comments", r: r %>
              <%= render "reviews/review_form_master_content_validate", r: r %>
            <% end %>

            <%# buttons group %>

            <div class="btn-group btn-group-justified" role="group" aria-label="review-buttons-group">
              <%# discard form %>
              <%= render 'reviews/discard_button_for_review', review: @review %>
              <div class="btn-group" role="group">
                <%= button_tag(type: 'submit', class: 'btn btn-default', id: 'validateReviewButton', form: "edit_review_#{@review.id}") do %>
                  <%= t( "validate_button_label", default: "Validate") %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
