<% content_for(:title,  t(".page_title", default: "Your Pending Review") ) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">

            <% if current_user.reviews.last.validated == false %>

              <h3 class="text-center"><%= t( ".heading_sentence_if_has_pending_review", default: "Here is your latest pending review for ") %><%= "#{@firm.name}" %>.</h3>
              <% default_for_instructions_html = "<p>Please review your votes carefully and update them, as the case may be.</p><p>Once your are done, press the Validate button below.</p>" %>
              <%= t( ".instructions_html", default: default_for_instructions_html) %>
              <hr>

              <%= simple_form_for @review do |r| %>
                <%= render "reviews/review_form_master_content_validate", r: r %>
                <%= r.button :submit, "Validate", class: "btn-center" %>
              <% end %>

            <% else %>

              <h3 class="text-center"><%= t( ".heading_sentence_if_has_no_pending_review", default: "You do not have any pending reviews.") %></h3>
              <% default_for_latest_review_intro_html = "<p>Please see below you latest review, which was made for #{@firm.name}.</p>
              <p>This review has already been validated and can no longer be amemended.</p>
              <p>Thank you for helping our users know more about gender equality on the workplace at #{@firm.name}.</p>" %>
              <%= t( ".latest_review_intro_html", firm_name: @firm.name, default: default_for_latest_review_intro_html) %>
              <hr>
              <%= simple_form_for @review do |r| %>
                <%= render "reviews/review_form_master_content_validate", r: r %>
              <% end %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
