<% content_for(:title, "Your Pending Review") %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-block shadowed-box">

            <% if current_user.reviews.last.validated == false %>

              <h3 class="text-center">Here is your latest pending review for <%= "#{@firm.name}" %>.</h3>
              <p>Please review your votes carefully and update them, as the case may be.</p>
              <p>Once your are done, press the Validate button below.</p>
              <hr>

              <%= simple_form_for @review do |r| %>
                <%= render "reviews/review_form_master_content_validate", r: r %>
                <%= r.button :submit, "Validate", class: "btn-center" %>
              <% end %>

            <% else %>

              <h3 class="text-center">You do not have any pending reviews.</h3>
              <p>Please see below you latest review, which was made for <%= "#{@firm.name}" %>.</p>
              <p>This review has already been validated and can no longer be amemended.</p>
              <p>Thank you for helping our users know more about gender equality on the workplace at <%= "#{@firm.name}" %>.</p>
              <hr>

              <%= simple_form_for @review do |r| %>
                <%= render "reviews/review_form_master_content_validate", r: r %>
              <% end %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
