<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= yield_with_default(:title, "*") %>
    <%= " | Sunny Rankings" %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,300", media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield(:facebook_js) %>

  <%= render 'shared/navbar' %>

  <div id="main-container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
  <%= yield(:last_js) %>

</body>
</html>
