<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= yield_with_default(:title, "*") %>
    <%= " | Women Friendly" %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TZ6SJC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TZ6SJC');</script>
  <!-- End Google Tag Manager -->

  <%= yield(:facebook_js) %>

  <div id="topNavi">
    <%= render 'shared/navbar' %>
  </div>

  <div id="main-container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>

  <%= render 'shared/navbar_mobile_bottom' %>
  <%= render 'shared/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
  <%= yield(:last_js) %>

</body>
</html>
